/* import font*/
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

/* reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* basic */

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
}

a {
  text-decoration: none;
}

p {
  margin: 0.75rem 0;
}

/* text in navbar  */

.text-primary {
  color: #93cb52;
}

/* navbar  (flexbox)*/
#navbar {
  display: flex;
  background: #333;
  color: white;
  top: 0;
  position: sticky;
  justify-content: space-between;
  z-index: 1;
  padding: 1rem;
}

#navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
}

#navbar ul li a {
  color: white;
  padding: 0.75rem;
  margin: 0 0.25rem;
}

#navbar ul li a:hover {
  background: #93cb52;
  border-radius: 5px;
}

/* Shwocase */

#showcase {
  background: #333333 url("../img/showcase.jpg") no-repeat center center/cover;
  height: 100vh;
  color: #ffffff;
}

#showcase .showcase-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 2rem;
  /* overlay */
  position: absolute;
  top: 60px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

/* h1 in showcase */

.l-heading {
  font-size: 4rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}

/* inside of showcase */
.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.btn {
  display: inline-block;
  color: #ffffff;
  background: #93cb52;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 5px;
}

.btn:hover {
  background: #78b436;
}

/* more btn utilities */
.btn-dark {
  background: #333;
  color: #ffffff;
}

/* what section */
