/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main Styling */
html,
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
}

a {
    color: #333333;
    text-decoration: none;
}

h1,
h2,
h3 {
    padding-bottom: 20px;
}

p {
    margin: 10px 0px;
}

/* Utilities classes*/
.container {
    margin: auto;
    max-width: 1100px;
    overflow: auto;
    padding: 0px 20px;
}

.text-primary {
    color: #f7c08a
}

.lead {
    font-size: 20px;
}

.btn {
    display: inline-block;
    font-size: 18;
    color: white;
    background: #333333;
    padding: 13px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background: #f7c08a;
    color: #333333;
}

.btn-light {
    background: #f4f4f4;
    color: #333333;
}

.bg-dark {
    background: #333333;
    color: #ffffff;
}

.bg-light {
    background: #f4f4f4;
    color: #333333;
}

.bg-primary {
    color: #333333;
    background: #f7c08a;
}

.clr {
    clear: both;
}

.l-heading {
    font-size: 40px;
}

/*padding*/

.py-1 {
    padding: 10px 0px;
}

.py-2 {
    padding: 20px 0px;
}

.py-3 {
    padding: 30px 0px;
}



/* Navbar */

#navbar {
    background: #333333;
    color: #ffffff;
    overflow: auto;
}

#navbar a {
    color: #ffffff;
}

#navbar .logo {
    float: left;
    padding-top: 20px;
}

#navbar ul {
    list-style: none;
    float: right;
}

#navbar ul li {
    float: left;
}

#navbar ul li a {
    display: block;
    padding: 20px;
    text-align: center;
}

#navbar ul li a:hover,
#navbar ul li a.current {
    background: #444444;
    color: #f7c08a;
}

/* showcase*/
#showcase {
    background: url('../img/showcase.jpg') no-repeat center center/cover;
    height: 600;
}

#showcase .showcase-content {
    color: #ffffff;
    text-align: center;
    padding-top: 170px;
}

#showcase .showcase-content h1 {
    font-size: 60px;
    line-height: 1.2em;
}

#showcase .showcase-content p {
    padding-bottom: 20px;
    line-height: 1.7em;
}

/* Home info */
#home-info {
    height: 400px
}

#home-info .info-img {
    float: left;
    width: 50%;
    background: url('../img/photo-1.jpg') no-repeat;
    min-height: 100%;
}

#home-info .info-content {
    float: right;
    width: 50%;
    height: 100%;
    text-align: center;
    padding: 50px 30px;
    overflow: hidden;
}

/* features */

.box {
    float: right;
    width: 33.3%;
    padding: 50px;
    text-align: center;
}

.box i {
    margin-bottom: 10px;
}

/* about info*/
#about-info .info-right {
    float: right;
    width: 50%;
    min-height: 100%;
}

#about-info .info-right img {
    display: block;
    width: 70%;
    margin: auto;
    border-radius: 50%;
}

#about-info .info-left {
    float: left;
    width: 50%;
    min-height: 100%;
}

/* main footer */
#main-footer {
    text-align: center;
    background: #444444;
    color: #ffffff;
    padding: 20px;
}

#testimonials {
    height: 100%;
    background: url('../img/test-bg.jpg') no-repeat center center/cover;
    padding-top: 40px;
}

#testimonials .container h2 {
    color: #ffffff;
    text-align: center;
    padding-bottom: 40px;
}

#testimonials .testimonial {
    padding: 20px;
    margin-bottom: 40px;
    border-radius: 5px;
    opacity: 0.9;
}

#testimonials .testimonial img {
    width: 100px;
    float: left;
    margin-right: 20px;
    border-radius: 50%;
}

/* form */

#contact-form {}

#contact-form .container {}

#contact-form .container .form-group {
    border: none;
    margin-bottom: 20px;
}

#contact-form .container .form-group label {
    display: block;
    margin-bottom: 5px;
}

#contact-form .container .form-group input,
#contact-form .container .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px #dddddd solid;
}

#contact-form .container .form-group input:focus,
#contact-form .container .form-group textarea:focus {
    outline: none;
    border-color: #f7c08a;
}

#contact-form .container .form-group textarea {
    height: 200px;
}